.header .site-logo img { 
    max-height: none;
    max-width: none;
}
.img-baiviet{
    //max-height: 367px;
    max-width: 550px;
    display: block;
    margin: 0px auto;
}
.content{
    text-align: left;   
}
.img-caption{
    text-align: center;
}